.recipesContainer {
    width: 50%;
    margin: 0 auto 0 auto;
    padding: 20px 10px;
  }

.recipesList {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

li:not(:last-child) {
  margin-bottom: 15px;
}